@CHARSET "UTF-8";

/*----General--------------------------------*/
@font-face{
	font-family: "Nimrod";
	src: url("Nimrod.ttf") format("truetype");
}
@font-face{
	font-family: "DroidSans";
	src: url("DroidSans.ttf") format("truetype");
}
/* Estilo general */
body {
	font-family: DroidSans;
	font-size: 100%; /* Letra base en 14pt*/
	color:SlateGray; 
}
main {
	position:absolute;
	left: 50%;
	margin-left: -512px;
	width: 1024px;
	height: auto;
	display:table;
	border:1px dotted LightGray;
}
article{
	position:relative;
	width:100%;
	margin-bottom:10px;
	background-color:white;
	border-bottom:1px solid LightGray;
	background-color:transparent;
}
article header{
	display:block;
}
article h1{
	font-family:Nimrod;
	font-size:1.2em;
	color:black;
	width:99%;
	padding-left:1%;
}
article section{
	display:block;
	font-family: DroidSans;
	font-size:1.0em;
	width:98%;
	height:auto;
	padding-left:1%;
	margin-bottom:10px;
}
article aside{
	font-size:0.8em;
	color:#FF5053;
}
article div.descripcion{
	display:block;
	margin-top:10px;
}
aside a{	
	color:#FF5053;
}
aside a:hover{	
	color:black;
}
#cuerpo figure{
	display:block;
	width:102%;
	min-height:50px;
	margin-left:-1%;
	margin-top:5px;
	margin-bottom:5px;
	background-color:lightgrey;
}
#cuerpo figcaption{
	display:block;
	width:100%;
	font-size:0.7em;
	text-align:right;
	padding-right:5px;
}
#cuerpo figure img{
	width:100%;
}
a{
	text-decoration:none;
	color:black;
}
a:hover{
	color:#FF5053;
}
/**
  * Estructura principal
  */
#cabecera{
	position:relative;
	width:100%;
	display:table-row;
}
#cuerpo{
	position:relative;
	width:100%;
	padding-top:10px;
 	display:table-row;
}
#pie{
	position:relative;
	width:100%;
	height:30px;
	margin-top:10px;
	margin-bottom:10px;
	border-top:1px solid black;
	background-color:silver;
	text-align:center;
	line-height:30px;
	font-size:0.8em;
	color:black;
	display:block;
}
/**
  * Cabecera 
  */
#logo{
	display:block;
	margin-top:10px;
	width:280px;
	height:110px;
}
#navegacion{
	display:block;
	width:500px;
	height:60px;
	margin-top:40px;
	margin-right:0px;
	float:right;
}
#navegacion div,#navegacion form{
	display:block;
	float:right;
	margin-left:10px;
}
#sindicatos{
	display:none;
	background-color:LightGray;
}
#sindicatos a{
	display:block;
	padding-right:5px;
	background-color:LightGray;
	color:grey;
}
#sindicatos a:hover{
	color:black;
}
#sindicatos_sel,#contacto_sel{
	width:125px;
	height:32px;
	line-height:32px;
	text-align:right;
	background-color:black;
	color:white;
}
#sindicatos_sel:hover #sindicatos{
	position:relative;
	z-index:10;
	display:block;
	background-color:white;
}
#contacto_sel a{
	color:white;
}
#busca,#hemeroteca{
	display:block;
	width:32px;
	height:32px;
	border:1px solid grey;
	background-repeat:no-repeat;
	background-position:50% 50%;
	transition: all 0.2s ease 0s;
}
#busca{
	color:transparent;
	background-image:url(lupa.png);	
}
#hemeroteca{
	color:transparent;
	background-image:url(calendar.png);	
}
#busca::-webkit-input-placeholder,#hemeroteca::-webkit-input-placeholder{
	color:transparent;
}
/* individual: mozilla */
#busca::-moz-placeholder,#hemeroteca::-moz-placeholder {
	color:transparent;
}
#busca:hover,#hemeroteca:hover{
	color:black;
	width:120px;
	background-position:95% 50%;
}
#busca:hover::-webkit-input-placeholder,#hemeroteca:hover::-webkit-input-placeholder{
	color:grey;
}
/* individual: mozilla */
#busca:hover::-moz-placeholder,#hemeroteca:hover::-moz-placeholder {
	color:grey;
}
#barra_cabecera{
	position:relative;
	display:block;
	margin-top:10px;
	margin-bottom:20px;
	width:100%;
	height:10px;
	border-top:1px solid black;
	border-bottom:1px solid black;
	background-color:LightGray;
}
#anuncio_cabecera{
	width:100%;
	min-height:100px;
	display:block;
}
/**
  * Cuerpo ********/
  
/* Columna derecha */
#derecha{
	min-height:300px;
	width:30%;
	float:right;
	margin-top:10px;
	display:table-cell;
}
#derecha article figure img{
	width:100%;
}
#derecha article div.embebido{
	width:100%;
	min-height:315px;
}
#derecha article div.embebido iframe{
	width:100%;
	height:100%;
}
#doble{
	min-height:200px;
	width:69%;
	margin-top:10px;
	background-color:white;
	float:left;
}
#doble article h1{
	font-size:1.8em;
	border-bottom:1px dotted LightGray;	
}
#doble article section{
	overflow:hidden;
}
#doble article section:after{
    clear: both;
    content: "";
    display: block;
}
#doble article figure{
	display:block;
	min-width:50%;
	width:50%;
	float:right;
}
#doble article aside, #doble article div.descripcion{
	margin-right:10px;
	min-width:45%;
}
#izquierda{
	min-height:100px;
	width:39%;
	margin-top:10px;
	padding-top:10px;
	margin-right:1%;
	float:left;
	display:table-cell;
}
#izquierda article div.embebido{
	width:100%;
	height:315px;
	display:block;
}
#izquierda article div.embebido iframe{
	width:100%;
	height:100%;
}
#central{
	min-height:100px;
	width:29%;
	margin-top:10px;
	padding-top:10px;
	float:left;
	display:table-cell;
 	background-color:LightGray;
}
#central article{
	border-bottom:1px solid white;
}
#central article div.embebido{
	width:100%;
	min-height:315px;
	display:block;
	position:relative;
}
#central article div.embebido iframe{
	display:block;
	position:absolute;
	width:100%;
	height:100%;
}
/* Buscador */
#titulo_search{
	font-family:Nimrod;
	font-size:3em;
	color:black;
}
#claves{
	width:100%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color:LightGray;
}
#claves input{
	width:80%;
	height:34px;
	line-height:34px;
	padding-left:10px;
	margin:10px 30px 10px 100px;
	border:1px solid #FF5053;
	background-image:url(lupa.png);	
	background-repeat:no-repeat;
	background-position: 98% 50%;
}
#claves div#encontrados{
	text-align:right;
	padding-right:5%;
	width:95%;	
}
#busqueda article{
	margin-top:10px;
	border-bottom:1px dotted LightGray;
}
#busqueda article h1{
	border:none;
}
#busqueda article section{
	overflow:hidden;
	padding:0px;
	width:100%;
}
#busqueda article section:after{
    clear: both;
    content: "";
    display: block;
}
#busqueda article figure{
	display:block;
	width:200px;
	height:auto;
	min-width:0;
	float:left;
	margin:5px 10px 5px 0;
}
#busqueda article figure img{
	width:100%;
}
#busqueda article aside, #busqueda article div.descripcion{
	display:block;
	margin-bottom:10px;
	margin-right:10px;
	min-width:45%;
}
/* Mas leido */
#masleido{
	display:block;
	width:100%;
	margin-bottom:10px;
	padding-top:10px;
	background-color:#D3D3D3;
}
#masleido h1{
	font-family:Nimrod;
	font-size:1.2em;
	color:black;
	width:99%;
	padding-left:1%;
}
#masleido_relacion{
	padding:10px;
	width:296px;
	max-height:200px;
	overflow-y:auto;
}
#masleido_relacion a{
	margin:0;
	margin-left:15px;
	width:275px;
	color:#708090;
	text-decoration:none;
	display:list-item;
}
#masleido_relacion a:hover{
	color:black;
}